* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: red;
}

.btn {
    display: inline-block;
    padding: 7px 14px;
    background: #efefef;
    border: 1px solid #999;
    margin-top: 10px;
    font-size: 11px;
}

#modify-content-textarea {
    height: 500px;
    padding: 20px;
    border: 1px solid darkblue;
    resize: none;
}

form ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li > span {
    width: 50px;
    position: relative;
    top: 11px;
    left: 10px;
    background: white;
}

li > input {
    padding: 10px 18px;
    border: 1px solid #999;
}
