<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board View</title>
    <link rel="stylesheet" href="../view/public/index.css" />
    <script src="../view/public/index.js" defer></script>
  </head>
  <body>
    <h1>
      <a href="/">Logo</a>
    </h1>
    <h2>글보기</h2>

    <ul>
      <li>
        <p>제목</p>
        <p id="view-title">예시 : 문의사항입니다</p>
      </li>
      <li>
        <p>작성자</p>
        <p id="view-writer">예시 : 유저532</p>
      </li>
      <li>
        <p>작성일</p>
        <p id="view-createdAt">예시 : 작성일입니다.</p>
      </li>
      <li>
        <p>내용</p>
        <p id="view-content">예시 : 문의사항의 내용입니다. 감사합니다.</p>
      </li>
    </ul>

    <a href="../index.html" class="view-btn">목록으로</a>
    <a href="../modify/index.html" class="view-btn">글 수정</a>
    <button href="#" id="view-deleteBtn" class="view-btn delete-btn">
      글 삭제
    </button>
  </body>
</html>
